<article>
  <h3><a href="#">Command Information Center</a></h3>
  <div class="row admin-stats">
    <div class="large-24 medium-24 small-24 columns">
      <h6>Sitewide Statistics</h6>
      <ul class="large-block-grid-5 medium-block-grid-5 small-block-grid-3">
        <li>
          <h6><%= link_to "Users", admin_users_path %></h6>
          <ul>
            <li><%= User.all.length %></li>
          </ul>
        </li>
        <li>
          <h6><%= link_to "Admins", "#" %></h6>
          <ul>
            <li><%= User.where(admin: true).length %></li>
          </ul>
        </li>
        <li>
          <h6><%= link_to "Articles", admin_articles_path %></h6>
          <ul>
            <li><%= Article.all.length %></li>
          </ul>
        </li>
        <li>
          <h6><%= link_to "Galleries", "#" %></h6>
          <ul>
            <li>###</li>
          </ul>
        </li>
        <li>
          <h6><%= link_to "Categories", admin_categories_path %></h6>
          <ul>
            <li><%= Category.where("parent_id is NULL").length %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <br />
  <div class="row admin-stats">
    <div class="large-24 medium-24 small-24 columns">
      <h6>Recent Activity</h6>
      <ul>
        <% recent_activity.each do |result| %>
          <li><%= result %></li>
        <% end %>
      </ul>
    </div>
  </div>
</article>
