<% breadcrumb :category, @category %>
<article>
  <h3><%= link_to @category.name, @category %></h3>
  <div class="row">
    <div class="large-24 medium-24 small-24 columns">
      <% if @category.parent.nil? %>
        <h6>Knowledge Base Listings</h6>
        <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1">
          <% @category.subcategories.order("name ASC").each do |subcategory| %>
            <li>
              <h6><%= link_to subcategory.name, subcategory %></h5>
                <ul>
                  <% subcategory.articles.order("slug ASC").each do |article| %>
                    <li class="cinzel">
                      <%= link_to article.slug, [subcategory, article] %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </li>
        </ul>
      <% else %>
        <h6>Knowledge Base Listings</h6>
        <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
          <% @category.articles.order("slug ASC").each do |article| %>
            <li>
              <ul>
                <li>
                  <h6><%= link_to article.title, [@category, article] %></h6>
                </li>
                <li>
                  <ul>
                    <li class="cinzel">
                      <%= article.text.split[0..20].join(' ').html_safe %>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</article>
